<div class="container">
<% if current_user.librarian? %>
  <%= link_to "Create new book", new_book_path, method: :get, class:"btn btn-outline-success my-2 my-sm-0"  %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Member</th>
      <th scope="col">Book</th>
      <th scope="col">Due date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @borrowed_books.each do |borrowed_book| %>
      <tr>
        <th scope="row"><%= borrowed_book.id %></th>
        <td><%= borrowed_book.user.name %></td>
        <td><%= borrowed_book.book.title %></td>
        <td><%= borrowed_book.due_date %></td>
        <td>
          <div class="btn-group" role="group">
            <% if current_user.librarian? %>
              <%= button_to "Return", book_return_path(borrow_id: borrowed_book.id), method: :post, class:"btn btn-outline-success my-2 my-sm-0"  %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>