<div class="container login-container">
  <h2>Log in</h2>
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :email, class: "form-label"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :password , class: "form-label"%><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>  
      </div>

      <!-- 2 column grid layout -->
      <div class="row mb-4">
        <div class="col-md-6 d-flex justify-content-center">
          <!-- Checkbox -->
          <% if devise_mapping.rememberable? %>
            <div class="form-check mb-3 mb-md-0">
              <%= f.check_box :remember_me, class: "form-check-input"%>
              <%= f.label :remember_me, class: "form-check-label"%>
            </div>
          <% end %>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
          <!-- Simple link -->
           <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
      </div>
    <% end %>
  </div>
</div>